<div class="container">
  <h2>Add a new video</h2>
  <%= simple_form_for @video, url:contributor_playlist_videos_path(@playlist) do |f| %>
    <div class="form-inputs">
      <div class="input-field">
        <%= f.input :title %>
      </div>
      <div class="input-field">
        <%= f.input :description %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :button, "add", class:"waves-effect waves-light btn" %>
    </div>
  <% end %>
</div>
