<div class="container">
  <h2>Channels</h2>
  <% @channels.each do |channel|%>
    <hr>
    <h3><%= channel.title %></h3>
    <p><%= channel.description %></p>
    <p class="left"><%= number_to_currency channel.cost %></p>
    <%= link_to 'Learn More', channel_path(channel), class: 'waves-effect waves-light btn-flat right green-text' %>
    <br>
    <br>
  <% end %>
</div>
