<div class="hero valign-wrapper">
  <div class="container valign right-align">
    <h3>Headed somewhere?</h3>
    <h5>Here's some entertainment <br class="hide-on-med-and-up"> for the ride.</h5>
    <br>
    <%= link_to channels_path, class: 'waves-effect waves-light btn' do %>
      <i class="material-icons left">play_arrow</i>watch now
    <% end %>
  </div>
</div>
