<div class="hero valign-wrapper">
  <div class="container valign right-align">
    <p class="flow-text white-text">
      The past is over;
      <br>
      the present is fleeting;
      <br>
      we live in the future
      <br>
      <i>- Ray Kurzweil</i>
    </p>
    <br>
    <%= link_to channels_path, class: 'waves-effect waves-light btn' do %>
      Explore the Future <i class="material-icons right large">play_arrow</i>
    <% end %>
  </div>
</div>
