<div class="container">
  <h2><%= @channel.title %></h2>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s6">
      <h3>Playlists</h3>
    </div>
    <div class="col s6">
      <a class="btn-floating waves-effect waves-light right"><i class="material-icons">add</i></a>
    </div>
  </div>



  <ul class="collection">
    <% @channel.playlists.each do |playlist| %>
      <li class="collection-item">
        <h5 class="title"><%= playlist.title %></h5>
        <p>
          <ul>
            <% playlist.videos.each do |video| %>
              <li>
                <div class="divider"></div>
                <div class="section">
                  <h6><b><%= video.title %></b></h6>
                  <span class="truncate"><%= video.description %></span>
                </div>
              </li>
            <% end %>
            <li>
              <a href="#!" class="secondary-content left"><i class="material-icons">add_circle</i></a>
            </li>
          </ul>
        </p>
        <br>

      </li>
    <% end %>
  </ul>

</div>
