/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("grey", "darken-3") !default;
$secondary-color: color("green", "accent-3") !default;
@import "materialize", "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  background: color("grey", "lighten-3");
}


nav {
  background-color: lighten(black,12%);
}

.button-collapse:hover {
  cursor: pointer;
}

.hero {
  background: linear-gradient(rgba(15,0,0,.25), rgba(5,0,0,.75)), url('rocket-launch.jpeg') no-repeat top center;
  background-size: cover;
  height: 92vh;
  h1, h3, h5 {
    color: rgba(white,.9);
  }
}


::selection {
  background: color("green", "accent-1");
  color: white;
}

.error {
  color: red;
}
